<a href="https://colab.research.google.com/github/Muyiiwaa/python_and_sql_4_data-analysis/blob/master/CONTROL_FLOW_(CONDITIONALS_AND_LOOPS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CONDITIONALS

In [2]:
# write a program that checks if a number is odd or even
# binary and mutually exclusive condition.

number = int(input('Enter your number: '))
if number % 2 != 0:
  print(f'{number} is odd')
else:
  print(f'{number} is even')

Enter your number: 18
18 is even

In [4]:
# write a program that checks if someone is a child, teen, adult or old.
# multiple mutually exclusive condition

age = int(input('Enter your age: '))
if age < 13:
  print('Child')
elif age < 20:
  print('Teen')
elif age < 50:
  print('Adult')
else:
  print('Old')

Enter your age: 19
Teen

In [6]:
# write a program that checks if a number is even, odd or a multiple 3

number = int(input('Enter the number: '))
if number % 2 == 0:
  print(f'{number} is even')
if number % 2 == 1:
  print(f'{number} is odd')
if number % 3 == 0:
  print(f'{number} is a multiple of 3')

Enter the number: 6
6 is even
6 is a multiple of 3

## NESTED IFS

In [16]:
# write a program that performs student student login.

fake_db = {'kemi':'1234'}

In [18]:
username = input('Enter your username')

if username in fake_db.keys():
  password = input(f'Welcome {username} enter your password!')
  if password == fake_db[username]:
    print('Access granted!')
  else:
    print('Incorrect Password')
else:
  print(f'user {username} not found!')

Enter your usernamekemi
Welcome kemi enter your password!1234
Access granted!

## FOR LOOPS

In [23]:
# write a program that prints hello world five times

for i in range(5):
  print(f'Hello world number {i}')

Hello world number 0
Hello world number 1
Hello world number 2
Hello world number 3
Hello world number 4

In [24]:
# write a program that returns all the even and odd numbers between 1 and 30

odd_bucket = []
even_bucket = []

for number in range(1, 31):
  if number % 2 == 0:
    even_bucket.append(number)
  else:
    odd_bucket.append(number)

print(odd_bucket)
print(even_bucket)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [33]:
# looping over a dictionary
names = {'sola':'wole','steph':'curry','wale':'ojo','Ahmed':'musa'}

for firstname, lastname in names.items():
  print(f'Hi {firstname} {lastname}')

Hi sola wole
Hi steph curry
Hi wale ojo
Hi Ahmed musa

In [35]:
names.items()

dict_items([('sola', 'wole'), ('steph', 'curry'), ('wale', 'ojo'), ('Ahmed', 'musa')])

## Nested For Loops

In [36]:
# zipping with for loops
even = [1,2,3,4,5]
vowels = ['a','e','i','o','u']

for number, letter in zip(even, vowels):
  print(f'{number}, {letter}')

1, a
2, e
3, i
4, o
5, u

In [37]:
for number in even:
  for letter in vowels:
    print(f'{number}, {letter}')

1, a
1, e
1, i
1, o
1, u
2, a
2, e
2, i
2, o
2, u
3, a
3, e
3, i
3, o
3, u
4, a
4, e
4, i
4, o
4, u
5, a
5, e
5, i
5, o
5, u

### While Loop

## EXERCISE

- write a program that checks if a number is a multiple of 3
- write a program that checks if a student passed or failed a course pass mark is 50.
- write a program that returns all multiple of 7 between 1 and 55.