<a href="https://colab.research.google.com/github/Muyiiwaa/python_and_sql_4_data-analysis/blob/master/lesson_four.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WHILE LOOP

In [1]:
# for loop and while loop comparison

for i in range(5):
  print('Hello how are you')

Hello how are you
Hello how are you
Hello how are you
Hello how are you
Hello how are you

In [3]:
counter = 0

while counter < 5:
  print(f'Hello how are you {counter}')
  counter += 1

Hello how are you 0
Hello how are you 1
Hello how are you 2
Hello how are you 3
Hello how are you 4

In [4]:
# write a program that continuously accept users name and register and greet them
while True:
  name = input('Enter your name: ')
  if name == 'stop':
    break
  else:
    print(f'Hi {name} how are you.')

Enter your name: wale
Hi wale how are you.
Enter your name: fola
Hi fola how are you.
Enter your name: steph
Hi steph how are you.
Enter your name: stop

In [8]:
# write a program that finds lcm of two numbers.

x = int(input('first number: '))
y = int(input('second number: '))

if x > y:
  greater = x
else:
  greater = y

while True:
  if greater % x == 0 and greater % y == 0:
    print(f'The lcm of {x} and {y} is {greater}')
    break
  else:
    greater += 1

first number: 12323
second number: 34
The lcm of 12323 and 34 is 418982

## Functions

In [20]:
# write a function that returns user's age based on their year of birth
def get_age(year_birth):
  age = 2025 - year_birth

  return age

get_age(year_birth=1950)

75

In [10]:
get_age(1950)

75

In [21]:
# write a function that accepts user's name
# and politely tell them their age class.

def polite_age(name, year):
  age = get_age(year_birth=year)
  if age < 13:
    print(f'Hi {name} you are a Child')
  elif age < 20:
    print(f'Hi {name} you are a teen')
  else:
    print(f'Hi {name} you are an adult')

polite_age(name='wale', year= 2001)

Hi wale you are an adult

In [29]:
# default arguments

# write a function that accepts a user's name, salary
# and return their tithe value.

def get_tithe(salary, name=None):
  if name is None:
    return 'get out!'
  else:
    tithe = salary * 0.1
    return f'Hi {name} your tithe is {tithe}'

get_tithe(salary= 34000, name = 'femi')

'Hi femi your tithe is 3400.0'

In [33]:
# unlimited arguments.

# write a function that computes averages

def get_average(*numbers):
  average = sum(numbers)/len(numbers)
  return average

get_average(1,2,3)

2.0

In [37]:
# unlimited keyword arguments.

# write a function that accepts user data

def get_user_data(**data):
  for key, value in data.items():
    print(f'{key}: {value}')

get_user_data(name='fola',gender='female',status='rich',bmi=23.6)

name: fola
gender: female
status: rich
bmi: 23.6

In [43]:
# write a program that simulates restaurant operation.

menu = {
    'rice': 400,
    'beans': 300,
    'beef': 500,
    'spag': 200,
    'chicken': 1500
    }
order_note = {}
total_cost = 0.0

while True:
  item = input('item: ')
  if item == 'enough':
    for item, quantity in order_note.items():
      print(f'{item} X {quantity} = ${menu[item] * quantity}')
      total_cost += menu[item] * quantity
    print("=======================")
    print(f'Total cost: ${total_cost}')
    break
  else:
    if item in menu.keys():
      quantity = int(input(f'How many {item} do you want?'))
      order_note.update({item:quantity})
    else:
      print(f'{item} is not available')

item: rice
How many rice do you want?3
item: beans
How many beans do you want?5
item: chicken
How many chicken do you want?2
item: enough
rice X 3 = $1200
beans X 5 = $1500
chicken X 2 = $3000
=======================
Total cost: $5700.0

In [45]:
menu['rice']

400

In [ ]:
# write a function that converts naira to dollar.

[python for data analysis youtube playlist](https://www.youtube.com/playlist?list=PLf43guw17cek_SNIfHBUkYxEyO5lUYbtE)