<a href="https://colab.research.google.com/github/Muyiiwaa/python_and_sql_4_data-analysis/blob/master/march_lesson_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 2: Python Basics II – Basic Data Structures


---

#### Python has four primary built-in collection types:
- List: ordered, mutable, allows duplicates
- Tuple: ordered, immutable, allows duplicates
- Set: unordered, mutable, no duplicates
- Dictionary: key-value pairs, unordered (Python 3.6+ maintains insertion order)

---

### 2. List Creation and INdexing

In [3]:
# create and index a list

## create a students list

students = ['fola','segun','tola','femi']
print(type(students))
print(students)

<class 'list'>
['fola', 'segun', 'tola', 'femi']

### 3. Lists – Modification and Methods

In [15]:
# some list methods

# append method
fruits = ['kiwi','apple','orange']
print(fruits)
fruits.append('mango')
fruits

# remove method
fruits.remove('kiwi')
print(fruits)

# len function
print(f'There are {len(fruits)} elements in fruits list')


# sum function
ages = [12,11,43,23,15]
print(f'sum of ages: {sum(ages)}')

# sorted
sorted(ages, reverse=True)

['kiwi', 'apple', 'orange']
['apple', 'orange', 'mango']
There are 3 elements in fruits list
sum of ages: 104

[43, 23, 15, 12, 11]

### 4. List Indexing & Slicing

In [ ]:
numbers = [11,23,12,3,56,7,8,6,5,49]

# forward indexing
print(numbers[2]) # returns 12
print(numbers[0]) # returns the first element

# backward indexing 
print(numbers[-1]) # returns the last element
print(numbers[-10])

some_weird_list = ['segun', [True, False],
                   23, 45.7]
print(some_weird_list)

# create a list of lists representing class of food
food_class = [
   ['rice','carbohydrate','white'],
    ['orange','vitamin','yellow'],
    ['fish', 'protein','silver']
]

print(food_class[1][2])

12
11
49
11
['segun', [True, False], 23, 45.7]
yellow

In [89]:
# slice a list
numbers = list(range(2, 21, 2))

print(numbers[2:6])
print(numbers[:4])
numbers[-4:]

[6, 8, 10, 12]
[2, 4, 6, 8]

[14, 16, 18, 20]

In [26]:
# write a simple program that registers students.
students = []

In [29]:
name = input('Welcome, enter your name: ')
students.append(name)
print(students)

['fola', 'segun']

### 5.Tuples

In [30]:
# Create a tuple
states = ('rivers','oyo','lagos')
print(type(states))

<class 'tuple'>

### Tuple methods and functions

In [34]:
# sorted tuples
sorted(states)

# len 
len(states)

3

### 7. Tuple Unpacking

In [46]:
# unpack a tuple

state_fifty, state_two, state_three = states
print(state_fifty)


staff = 'femi', 'fola'
type(staff)

school = ('ui',)
print(type(school))

rivers
<class 'tuple'>

In [45]:
states[0]

'rivers'

### 8.Sets – Unordered Unique Collections

In [ ]:
# create a set

vowels = {'a','i','e','i','o','u',23}
print(vowels)

numbers = {47,23,1,11,6,5,23}
print(numbers)

{'a', 23, 'i', 'u', 'o', 'e'}
{1, 5, 6, 23, 11, 47}
{1, 5, 6, 'i', 11, 'e', 47, 'a', 23, 'u', 'o'}

### 9. Set Operations

In [58]:
# some set operation

# union
print(numbers | vowels)

# difference
print(numbers - vowels)

# intersection
print(numbers & vowels)

{1, 5, 6, 'i', 11, 'e', 47, 'a', 23, 'u', 'o'}
{1, 5, 6, 11, 47}
{23}

### 10. Dictionaries – Key-Value Pairs

In [59]:
# create a dictionary

nigeria = {
    'osun':'osogbo',
    'oyo': 'ibadan',
    'kwara': 'ilorin',
    'kogi': 'lokoja'
}
print(type(nigeria))

<class 'dict'>

#### LOOKUPS IN DICTIONARIES

In [66]:
# doing a key lookup
nigeria['osun']

# updatting a dictionary using lookup method
nigeria['ogun'] = 'abeokuta'
nigeria

{'osun': 'osogbo',
 'oyo': 'ibadan',
 'kwara': 'ilorin',
 'kogi': 'lokoja',
 'rivers': 'port-harcourt',
 'ogun': 'abeokuta'}

### 11. Dictionary Methods

In [63]:
### some dictionary  method

# keys method

print(nigeria.keys())

# values method
print(nigeria.values())

# update
nigeria.update({'rivers':'port-harcourt'})
print(nigeria)

# items
nigeria.items()

dict_keys(['osun', 'oyo', 'kwara', 'kogi', 'rivers'])
dict_values(['osogbo', 'ibadan', 'ilorin', 'lokoja', 'port-harcourt'])
{'osun': 'osogbo', 'oyo': 'ibadan', 'kwara': 'ilorin', 'kogi': 'lokoja', 'rivers': 'port-harcourt'}

dict_items([('osun', 'osogbo'), ('oyo', 'ibadan'), ('kwara', 'ilorin'), ('kogi', 'lokoja'), ('rivers', 'port-harcourt')])

In [67]:
# create a fake student signup program.

students = {}

In [71]:
name = input('username: ')
password = input('choose a password: ')

students.update({name:password})
print(f'User {name} created successfully')

User gbemi created successfully

In [73]:
students.pop('fola')

'1234'

In [76]:
# edit a value
nigeria['osun'] = 'oshogbo'

In [77]:
nigeria

{'osun': 'oshogbo',
 'oyo': 'ibadan',
 'kwara': 'ilorin',
 'kogi': 'lokoja',
 'rivers': 'port-harcourt',
 'ogun': 'abeokuta'}

### 11. Summary

| Feature         | List                    | Tuple                   | Set                      | Dictionary                   |
|-----------------|-------------------------|--------------------------|---------------------------|-------------------------------|
| Ordered         | No                     | No                     | Yes                        | No (insertion order preserved) |
| Mutable         | Yes                     | No                      | Yes                       | Yes                            |
| Duplicates      | Allowed                 | Allowed                 | Not allowed               | Keys: Not allowed, Values: Allowed |
| Indexable       | Yes                     | Yes                     | No                        | Keys used instead of index    |
| Syntax          | `[1, 2, 3]`             | `(1, 2, 3)`              | `{1, 2, 3}`               | `{"a": 1, "b": 2}`            |
| Use Case        | General-purpose sequence| Fixed collections        | Unique elements           | Key-value mappings            |

# EXERCISES



1. Create a list of numbers divisible by 8 between 3 and 50.
2. Given two sets:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
Find the union, intersection, and difference (a - b)

3.  Create a dictionary with keys "name", "age", and "course". Then update the "course" value and add a new key "grade".