<a href="https://colab.research.google.com/github/Muyiiwaa/python_and_sql_4_data-analysis/blob/master/march_lesson_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1: Python Basics I – Syntax, Variables, and Data Types

#### 1.  Why Python:

Python is a high-level, interpreted programming language.It is widely used in data analysis, machine learning, and automation. Its major application within data analysis is for handling large dataset. Python can easily step in place of every tool in the data analytics stack except SQL.


---

### 2. Comments and Code Execution

In [1]:
# Comments start with #

### 3. Variables and Assignment

In [2]:
# variables store data

### 4. Dynamic Typing

In [ ]:
# Python is dynamically typed: you don't declare variable types

### 5. Data Types Overview

In [7]:
# Common primitive types: int, float, str, bool

### 7. Type Conversion

In [ ]:
# Convert between types using functions like int(), float(), str()

### 8. Arithmetic Operator
| Operator | Name             | Example Use         |
|----------|------------------|---------------------|
| `+`      | Addition         | `5 + 2` → `7`       |
| `-`      | Subtraction      | `5 - 2` → `3`       |
| `*`      | Multiplication   | `5 * 2` → `10`      |
| `/`      | Division         | `5 / 2` → `2.5`     |
| `//`     | Floor Division   | `5 // 2` → `2`      |
| `%`      | Modulus          | `5 % 2` → `1`       |
| `**`     | Exponentiation   | `5 ** 2` → `25`     |

In [8]:
# some basic arithmetic operators:  +, -, *, /, // (floor), % (mod), ** (power)

### 9. Comparison Operators

| Operator | Name                 | Example Use        |
|----------|----------------------|--------------------|
| `==`     | Equal to             | `5 == 2` → `False` |
| `!=`     | Not equal to         | `5 != 2` → `True`  |
| `>`      | Greater than         | `5 > 2` → `True`   |
| `<`      | Less than            | `5 < 2` → `False`  |
| `>=`     | Greater than or equal| `5 >= 2` → `True`  |
| `<=`     | Less than or equal   | `5 <= 2` → `False` |

In [9]:
# some comparison operators ==, !=, >, <, >=, <=

### 10. String Operations

In [10]:
# Strings can be concatenated or repeated

### 11. String Methods

In [ ]:
### some popular string method: len, upper, lower, replace

### 11. Logical Operators

| Operator | Name     | Example Use                |
|----------|----------|----------------------------|
| `and`    | Logical AND | `True and False` → `False` |
| `or`     | Logical OR  | `True or False` → `True`   |
| `not`    | Logical NOT | `not True` → `False`       |

In [12]:
# logical operators: and, or, not

# EXERCISES



1. Create two variables, one int and one float. Add them together.
2. Take a string and convert it to uppercase, then repeat it 3 times.
3. Check if two numbers are equal and print the result.
4. write a program that accepts someone's name and returns the number of letters in their name.