<a href="https://colab.research.google.com/github/Muyiiwaa/python_and_sql_4_data-analysis/blob/master/march_lesson_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1: Python Basics I – Syntax, Variables, and Data Types

#### 1.  Why Python:

Python is a high-level, interpreted programming language.It is widely used in data analysis, machine learning, and automation. Its major application within data analysis is for handling large dataset. Python can easily step in place of every tool in the data analytics stack except SQL.


---

### 2. Comments and Code Execution

In [1]:
# Comments start with #

# write a program that performs a simple arithmetic

5 + 3

8

### 3. Variable assignment and data types

In [12]:
# variables store data

# write a program that prints a person's name

name = 560
age = 32

print(name,age)

560 32

### 4. Dynamic Typing

In [13]:
# Python is dynamically typed: you don't declare variable types

name: str = 560
age: int = 32

print(type(name),type(age))

<class 'int'> <class 'int'>

### 5. Data Types Overview

In [14]:
# Common primitive types: int, float, str, bool

name = 'wale'
age = 33
salary = 3400.5
is_married = True

print(type(name))
print(type(age))
print(type(salary))
print(type(is_married))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### 7. Type Conversion

In [24]:
# Convert between types using functions like int(), float(), str()

# write a program that accepts year of birth and return age.

your_name = 'steph'
year_of_birth = 1978
your_age = 2025 - year_of_birth
print(f'Hi {your_name} you are {your_age} years old')

Hi steph you are 47 years old

In [28]:
# write a program that converts naira to dollar

naira = input("naira: ")
naira = float(naira)
rate = 2000
dollar = naira/rate

print(f'{naira} naira is {dollar} dollar at {rate} naira per dollar')

250000.0 naira is 125.0 dollar at 2000 naira per dollar

### 8. Arithmetic Operator
| Operator | Name             | Example Use         |
|----------|------------------|---------------------|
| `+`      | Addition         | `5 + 2` → `7`       |
| `-`      | Subtraction      | `5 - 2` → `3`       |
| `*`      | Multiplication   | `5 * 2` → `10`      |
| `/`      | Division         | `5 / 2` → `2.5`     |
| `//`     | Floor Division   | `5 // 2` → `2`      |
| `%`      | Modulus          | `5 % 2` → `1`       |
| `**`     | Exponentiation   | `5 ** 2` → `25`     |

In [31]:
# some basic arithmetic operators:  +, -, *, /, // (floor), % (mod), ** (power)

# return the square of 7

7 ** 2

49

In [34]:
# write a program that accepts number of days and convert it to weeks

no_of_days = input('Enter the number of days: ')
no_of_days = int(no_of_days)
weeks = no_of_days // 7
days = no_of_days % 7
print(f'There are {weeks} weeks and {days} days in {no_of_days} days')

There are 1 weeks and 3 days in 10 days

### 9. Comparison Operators

| Operator | Name                 | Example Use        |
|----------|----------------------|--------------------|
| `==`     | Equal to             | `5 == 2` → `False` |
| `!=`     | Not equal to         | `5 != 2` → `True`  |
| `>`      | Greater than         | `5 > 2` → `True`   |
| `<`      | Less than            | `5 < 2` → `False`  |
| `>=`     | Greater than or equal| `5 >= 2` → `True`  |
| `<=`     | Less than or equal   | `5 <= 2` → `False` |

In [ ]:
# some comparison operators ==, !=, >, <, >=, <=

50 == 55
50 > 55
50 < 55
50 != 55
50 >

True

### 10. String Operations

In [43]:
# Strings can be concatenated or repeated

course = 'data'

# string concatenation
course + ' ' + course

# string repetition
course * 23

'datadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadata'

### 11. String Methods and Functions

In [52]:
### some popular string method: len, upper, lower, replace

phone = 'Iphone'
name = 'tola'
phones = ('samsung', 'tecno','pixel')

print(type(phone))
print(type(name))
print(type(phones))


print(len(phone))
print(len(phones))
print(len(name))

print(phone.upper())
print(name.upper())

print(phone.lower())
print(name.lower())

<class 'str'>
<class 'str'>
<class 'tuple'>
6
3
4
IPHONE
TOLA
iphone
tola

### 11. Logical Operators

| Operator | Name     | Example Use                |
|----------|----------|----------------------------|
| `and`    | Logical AND | `True and False` → `False` |
| `or`     | Logical OR  | `True or False` → `True`   |
| `not`    | Logical NOT | `not True` → `False`       |

In [56]:
# logical operators: and, or, not

(50 == 50) or (50 < 25)

True

# EXERCISES



1. Create two variables, one int and one float. Add them together.
2. Take a string and convert it to uppercase, then repeat it 3 times.
3. Check if two numbers are equal and print the result.
4. write a program that accepts someone's name and returns the number of letters in their name.