## Pandas Intro

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# create our dataframe

# from dictionary

students = {
    'name': ['fola','titi','folu','kemi'],
    'age': [12,23,54,43],
    'gender': ['f','m','m','f']
}

# turn the dictionary to a dataframe
students_df = pd.DataFrame(data=students)
students_df

In [4]:
# create a dataframe from a list of lists

clubs = [
    ['man utd', 3, 'bruno'],
    ['chelsea', 2, 'palmer'],
    ['arsenal', 0, 'saka'],
    ['barca', 5, 'yamal']
]

column_names = ['club_name','no_of_ucl','best_player']

club_df = pd.DataFrame(data=clubs, columns=column_names)
club_df

  club_name  no_of_ucl best_player
0   man utd          3       bruno
1   chelsea          2      palmer
2   arsenal          0        saka
3     barca          5       yamal